.product-sales {
  box-sizing: border-box;
  position: relative;
  background-color: white;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem;
}

table {
  display: grid;
  border-collapse: collapse;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  padding: 10px 0px 0px;
}

thead th {
  font-weight: 500;
  font-size: 1.1rem;
}

tbody td {
  border-top: 1px solid lightgray;
}

thead,
tbody,
tr {
  display: contents;
}

th {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td {
  padding: 15px;
  font-weight: 200;
}

th {
  text-align: left;
}

th:last-child {
  border: 0;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.table-header {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.table-header p {
  margin: 0;
}

.table-header-icon {
  margin-left: 5px;
  font-size: .8rem;
}