.product-graph {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: auto;
  background-color: white;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem;
  margin-bottom: 40px;
}

.pg-label {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 1.3rem;
  font-weight: 300;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.tooltip {
  position: absolute;
  padding: 10px;
  font: 12px sans-serif;
  background: #222;
  color: #fff;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0.9;
  visibility: hidden;
}